<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>03-应用管理器（MVC）.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CC15D8A91CA671B60037E54A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC15D8C51CA671B70037E54A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC15D8D01CA671B70037E54A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
